.calendar_body{
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    section.title{
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
        background-color: $titleBG;
    }
    div.week_day{
        border: 1px solid $ligth_blue;
        background-color: skyblue;
    }
    div.day_sqr{
        border: 1px solid $ligth_blue;
        &.isEvent{
            background-color: #d1d1d1;
        }
        &.wrapper_day{
            cursor: pointer; 
            transition: 0.1s ease;
            position: relative;
            &:hover{
                background-color: #d2d2d2;
                div.event{
                    visibility: visible;
                }
            }
            div.event{
                height: 90%;
                width: 70%;
                background-color: teal;
                position: absolute;
                z-index: 1;
                right:  0;
                top:0;
                visibility: hidden;
            }
        }
    }
    .column{
        flex: 0 0 14.28%;
        max-width: 14.28%;
        height: 60px;
        box-sizing: border-box;
        padding: 3px;
    }
    .today{
        display: flex;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        background-color: red;

    }
}