section.search_bar_content{
    height: 80px;
    background-color: $stblue;
    padding:0 5px;

    input{
        width: calc(100% - 70px);
        height: 60px;
        background-color: white;
        border: none;
        padding: 0 3px;
        &:focus{
            outline: none;
            border: none;
        }
    }
    button{
        height: 60px;
        width: 60px;
        background-color: $ligth_blue;
        border: none;
        transition: 0.2s ease;
        &:focus{
            outline: none;
        }
        &:hover{
            background-color: $stblue;
            color:white;
        }
    }
}